body {
    margin: 0;
    background-color: #1E0B36;
}

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* nav section */
nav {
    background-color: #1E0B36;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    color: white;
    align-items: center;
}

#nav-left-text {
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#nav-center {
    display: flex;
    color: white;
    gap: 32px;
    font-size: 16px;
    cursor: pointer;
}

#nav-center-about,
#nav-center-episode,
#nav-center-host {
    cursor: pointer;
}

#subscribe-button {
    display: inline-flex;
    gap: 2px;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;

}



/* banner */

#banner {
    background-color: #1A0B2E;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.hero-circle {
    position: relative;
    top: 150px;
}

#microphone {
    position: relative;
    top: -125px;
}

#span {
    background-color: #00FF88;
    height: 38px;
    width: 75px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: -370px;
    right: -100px;
}


#banner-h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    align-items: center;
    text-align: center;
}

#banner-p {
    font-size: 20px;
    font-weight: 400;
    color: #627382;
    align-items: center;
    text-align: center;
}

.banner-center {
    align-items: center;
    text-align: center;
}


#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#spotify {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
}

#subscribe {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #00FF88;
    font-family: "Inter", sans-serif;
    background: #1E0B36;
    font-weight: 500;
    font-size: 18px;
    color: #00FF88;
    padding: 8px 10px;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

/* about section */

.about-stat {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px, 150px 100px;
}

.about-text-h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    align-items: center;
    text-align: center;
}

.about-text-p {
    font-size: 25px;
    font-weight: 300;
    color: #627382;
    align-items: center;
    text-align: center;
    padding: 50px 150px;
}

.about-stat-bold {
    color: #00FF88;
    font-size: 80px;
}

.about-stat-normal {
    color: #627382;
    font-size: 25px;
}

/* choice section */

.choice-h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 100px 200px 40px;
}

.choice-cards {
    display: grid;
    gap: 20px; 
    padding: 40px 180px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.choice-cards .card{
    border-radius: 30px;
    background-color: #351165;
    padding: 30px;
}

.choice-cards .card h2 {
    font-size: 25px;
    color: white;
}

.choice-cards .card p {
    font-size: 18px;
    color: #627382;
    text-align: left;
}


.square-grid {
    grid-column: span 1;
    grid-row: span 2;
}

.wide-grid {
    grid-column: span 2;
    grid-row: span 1;
}

.small-grid {
    grid-column: span 1;
    grid-row: span 1;
}


/* featured episode section */

.episodes{
    padding: 180px;
}

.featured-episode-h1{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 20px 200px 40px;
}

.youtube-links{
    display: flex;
    gap: 50px;
}

.youtube-links .live-link{
    text-align: center;
    border-radius: 30px;
}
.youtube-links h1{
    color: white;
    font-size: 25px;
    text-align: left; 
    font-weight: bold;
    padding: 10px;
}

.youtube-links .live-link p{
    font-size: 18px;
    color: #627382;
    text-align: left;
    padding: 10px; 
}

.youtube-duration{
    display: inline-flex;
    gap: 10px;
    color: #00FF88;
    text-align: left;
    align-items: left;
}

/* host section */

.host{
    /* padding: 60px; */
}

.the-host-h1{
    color: white;
    font-size: 25px;
    text-align: center; 
    padding: 10px;
}

.the-host-text h2{
    font-size: 30px;
    color: white;
}

.the-host-text p{
    font-size: 20px;
    color: #627382;
    text-align: left;
}

.the-host-content{
    display: flex;
    gap: 40px;
    /* padding: 50px; */
}

.the-host-text span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

/* footer section */

.footer{
    padding: 120px; 
    background-image: url(images/footer-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-h1 h1{
    color: white;
}

.footer-logo{
    display: inline-flex;
    gap: 50px;
}

.Spotify, .Apple-Podcast, .Youtube, .Twitter{
    color: white;
}

.copyright{
    color: #627382; 
    text-align: center;
    padding: 25px;
}