body {
    margin: 0;
}

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* nav section */
nav {
    background-color: #1E0B36;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    color: white;
    align-items: center;
}

#nav-left-text {
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#nav-center {
    display: flex;
    color: white;
    gap: 32px;
    font-size: 16px;
    cursor: pointer;
}

#nav-center-about, #nav-center-episode, #nav-center-host{
    cursor: pointer;
}

#subscribe-button {
    height: 44px;
    width: 135px;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor:pointer
}



/* banner */

#banner{
    background-color: #1A0B2E;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
}

.hero-circle{
    position: relative;
    top: 150px;
}

#microphone{
    position: relative;
    top: -125px;
}

#span{
    background-color: #00FF88;
    height: 38px;
    width: 75px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor:pointer;
    position: relative;
    top: -370px;
    right: -100px;
}


#banner-h2{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    align-items: center;
    text-align: center;
}

#banner-p{
    font-size: 16px;
    font-weight:400;
    color: white;
    align-items: center;
    text-align: center;
}

.banner-center{
   align-items: center;
   text-align: center;
}


#buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#spotify{
    height: 44px;
    width: 200px;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
}

#subscribe{
    height: 44px;
    width: 200px;
    border: 15px solid #00FF88;
    font-family: "Inter", sans-serif;
    background:#1E0B36;
    font-weight: 500;
    font-size: 16px;
    color: #00FF88;
    border: none;
    padding: 12px 16px;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
}


